{% extends 'base.html' %}
{% load url from future %}

{% block main_title %}Pics'Art Homepage{% endblock %}
{% block container %}container{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}. Thanks for logging in.</p>
    {% if request.user.is_superuser %}
      <p>Your are superuser</p>
    {% endif %}
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
{% endblock %}
{% block extrafooter %}

{% endblock %}
